<div class="card">
  <div class="card-header">{{pageTitle}}</div>
  <div class="card-body">
    <div>Filtrer par :
        <input type="text" [(ngModel)]="listFilter"/>
        <button class="addEvent" routerLink="creation">Créer un événement</button>
      </div>
    <br>
    <div class="table-responsive">
      <table class="table" *ngIf="evenements.length">
        <thead>
        <tr>
          <th>Événement</th>
          <th>Description</th>
          <th>Créateur</th>
          <th>Clotûré</th>
          <th>Ajouter aux favoris</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let event of filteredEvents">
          <td><a [routerLink]="['/evenements', event.id]">{{event.nom}}</a></td>
          <td>{{event.description | lowercase}}</td>
          <td><a [routerLink]="['/users', event.createur.id]">{{event.createur.nomUser}}</a></td>
          <td>{{event.cloture ? "Oui" : "Non"}}</td>
          <td><button style="margin-left: 50px" routerLink="/evenements" (click)="addFavoris(event)">⭐</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

