<div class="wrapper row2">
  <p></p>
  <div id="container" class="clear">
    <h1 class="titre">En savoir plus sur DodleMe</h1>
    <p class="feature under">Voici nos coordonnées :</p><br>
    <p class="feature">Numéro de téléphone : 06.06.06.06.06</p><br>
    <p class="feature">Adresse mail : DodleMe@dodle.me</p><br>
    <p class="feature">Siège social : 05 rue du dodle 31000 Toulouse France</p><br>
    <p class="feature under">Vidéo de présentation de DodleMe :</p><br>
    <div class="box">
      <iframe class="centrer" width="560" height="315" src="https://www.youtube.com/embed/FPtbs4E29qc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>
