<div class="card">
  <div class="card-header">
    {{pageTitle + " : " + personne?.username}}
  </div>
  <div class='card-body' *ngIf='personne'>
    <div class='row'>
      <div class='col-md-8'>
        <div class='row'>
          <div class='col-md-4'>Nom utilisateur :</div>
          <div class='col-md-8'>{{personne.username}}</div>
        </div>
        <div class='row'>
          <div class='col-md-4'>Nom :</div>
          <div class='col-md-8'>{{personne.lastname}}</div>
        </div>
        <div class='row'>
          <div class='col-md-4'>Prénom :</div>
          <div class='col-md-8'>{{personne.firstname}}</div>
        </div>
      </div>
    </div>
    <br>
    <div class="card-header">Mes événements créés</div>
    <div class="table-responsive">
      <table class="table" *ngIf="eventCree.length">
        <thead>
        <tr>
          <th>Événement</th>
          <th>Description</th>
          <th>Clotûré</th>
          <th>Détails</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let event of eventCree">
          <td><a [routerLink]="['/evenements', event.id]">{{event.nom}}</a></td>
          <td>{{event.description | lowercase}}</td>
          <td>{{event.cloture ? "Oui" : "Non"}}</td>
          <td><button [routerLink]="['/evenements', event.id]">Voir</button></td>
        </tr>
        </tbody>
      </table>
    </div>
    <br>
    <div class="card-header">Les événements répondus</div>
    <div class="table-responsive">
      <table class="table" *ngIf="eventParticipe.length">
        <thead>
        <tr>
          <th>Événement</th>
          <th>Description</th>
          <th>Créateur</th>
          <th>Clotûré</th>
          <th>Choix</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let event of eventParticipe">
          <td><a [routerLink]="['/evenements', event.creneau.evenement.id]">{{event.creneau.evenement.nom}}</a></td>
          <td>{{event.creneau.evenement.description | lowercase}}</td>
          <td><a [routerLink]="['/users', event.creneau.evenement.createur.iduser]">{{event.creneau.evenement.createur.username}}</a></td>
          <td>{{event.creneau.evenement.cloture ? "Oui" : "Non"}}</td>
          <td>{{event.reponse ? "✔" : "❌"}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer">
    <button class="btn btn-outline-secondary" style="width:80px" routerLink="/evenements">
      <i class="fa fa-chevron-left"></i>Retour
    </button>
  </div>
</div>

