<nav class="navbar navbar-expand navbar-light bg-light">
  <a class="navbar-brand">{{pageTitle}}</a>
  <ul class="nav nav-pills">
    <li><a class="nav-link" routerLink="/evenements" *ngIf="showUserBoard">Accueil</a></li>
    <li><a class="nav-link" routerLink="/users/0/favoris" *ngIf="showUserBoard">Mes favoris</a></li>
    <li><a class="nav-link" routerLink="/users" *ngIf="showUserBoard">Profil</a></li>
    <li><a class="nav-link" routerLink="/connexion" *ngIf="!showUserBoard">Compte</a></li>
    <li class="nav-item"><a href class="nav-link" *ngIf="showUserBoard" (click)="logout()">LogOut</a></li>
  </ul>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
<br><hr>
<footer class="bg-white center">
  <div class="container py-1">
    <h3 class="font-weight-bold mb-4">En savoir plus sur DodleMe</h3>
    <p class="text-muted mb-4">Vous voulez voir à quoi ressemble DodleMe, <br> cliquez sur le bouton ci-dessous et visionnez une vidéo de présentation</p>
    <button class="btn-grad" routerLink="/presentation">En savoir plus</button>
  </div>
  <div class="bg-light py-4">
    <div class="container text-center">
      <p class="text-muted mb-0 py-2">© 2022 DodleMe All rights reserved.</p>
    </div>
  </div>
</footer>
